:root {
  --color-1: #101827;
  --color-1-rgb: 16, 24, 39;
  --color-1-hsl: 219, 42%, 11%;
  --color-2: #192438;
  --color-2-rgb: 25, 36, 56;
  --color-2-hsl: 219, 38%, 16%;
  --color-3: #122347;
  --color-3-rgb: 18, 35, 71;
  --color-3-hsl: 220.75, 59.55%, 17.45%;
  --color-4: #A9C3F5;
  --color-4-rgb: 169, 195, 245;
  --color-4-hsl: 219.47, 79.17%, 81.18%;
  --color-5: #F4F6FA;
  --color-5-rgb: 244, 246, 250;
  --color-5-hsl: 220, 38%, 97%;
}
