:root {
  --color-1: #00288C;
  --color-1-rgb: 0, 40, 140;
  --color-1-hsl: 222.9, 100%, 27.5%;
  --color-2: #00DCDC;
  --color-2-rgb: 0, 220, 220;
  --color-2-hsl: 180, 100%, 43.1%;
  --color-3: #071936;
  --color-3-rgb: 7, 25, 54;
  --color-3-hsl: 217, 77%, 12%;
  --color-4: #DCE9FF;
  --color-4-rgb: 220, 233, 255;
  --color-4-hsl: 217.7, 100%, 93.1%;
  --color-5: #F3F7FD;
  --color-5-rgb: 243, 247, 253;
  --color-5-hsl: 216, 71.4%, 97.3%;
}
